@import './normalize.scss';

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {

    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

.menu {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    padding: 24px 0;
    background-color: #E8E7E7;

    a {
        padding: 5px;
        background-color: #ffffff;
        border-radius: 0.25rem;
        text-decoration: none;
        font-weight: bold;
        color: #2c3e50;
        margin: 0 5px;

        &.router-link-exact-active {
            background-color: #42b983;
            color: #ffffff;
        }
    }
}

.container {
    max-width: 1200px;
    width: 100%;
    display: inline-block;

}

.header {
    width: 100%;
    padding: 10px;
    background-color: #E8E7E7;

    &_container {
        margin: 10px 10px;
        background-color: rgb(255, 255, 255);
        border-radius: 0.5rem;

        &-inner {
            width: 100%;
            position: relative;
            left: -110px;
            display: inline-flex;
            justify-content: space-evenly;
        }

        &-statistic {
            display: inline-flex;
            align-items: center;

            &-img {
                width: 32px;
                height: 32px;
            }

            &-text {
                font-size: 0.75rem;
                color: #9b9b9b;
            }

            &-count {
                padding-left: 20px;
            }
        }
    }
    &:after {
        content: '';
        display: block;
        height: 1px;
        background: #E8E7E7;
        position: relative;
        left: 130px;
        margin: 24px 10px 8px;
    }
}

.form {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &_input {
        box-sizing: border-box;
        position: absolute;
        z-index: -1;
        opacity: 0;

       

        &+label {
            display: inline-flex;
            align-items: center;
            user-select: none;

            &::before {
                content: '';
                display: inline-block;
                border: 1.5px solid #E8E7E7;
                width: 16px;
                height: 16px;
                margin-right: 10px;
                cursor: pointer;
            }
        }
        &:checked+label::before {
            left: 3px;
            top: 4px;
            width: 10px;
            height: 5px;
            border-radius: 1px;
            border-left: 4px solid #42b983;
            border-bottom: 4px solid #42b983;
            transform: rotate(-45deg);
        }

        &-btn {
            padding: 10px;
            border-radius: 0%;
            border: none;
            background-color: #42b983;

            &-text {
                color: rgb(255, 255, 255);
                font-weight: 300 !important;
            }

        }
    }
}

.description {
    position: relative;
    left: -130px;

    &:before {
        content: '';
        display: block;
        height: 1px;
        background: #E8E7E7;
        position: relative;
        left: 130px;
        margin: 8px 10px 24px;
    }

    &:after {
        content: '';
        display: block;
        height: 1px;
        background: #E8E7E7;
        position: relative;
        left: 130px;
        margin: 24px 10px 8px;
    }
}